 .error{
  border: 1px solid #f5c6cb;
  padding: 15px 20px;
  margin: 35px;
  border-radius: 5px;
  background: #f8d7da;
  color: #721c24;
  font-size: 20px;
 }
 h1{
   text-align: center;
 }
 .inputFields{
   margin-top: 50px;
   display: flex;
   justify-content: center;
 }
 .inputFields input{
   padding: 15px 10px;
   font-size: 16px;
   width: 50%;
   border-radius: 5px;
 }
 .btnAdd{
  padding: 15px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: #244d7d;
    border: none;
    color: #fff;
 }

 .cardsDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:35px 25px;

}
.todoCard{
  font-family: 'Indie Flower', cursive;
  background-color: #feff9c;
  height: 12em;
  width: 13em;
  padding: 10px;
  position: relative;
  margin: 1em;
  transform: rotate(4deg);
  transition: all ease 0.4s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.todoCard:nth-child(even){
  background-color: #82e0f6;
  position: relative;
  top: 5px;
  transform: rotate(
-6deg);
}
.todoCard:nth-child(3n){
  background-color: #fe95a8;
  position: relative;
  top: 5px;
  transform: rotate(2deg);
}

.todoCard:hover{
transform: scale(1.5);
z-index: 2;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.todoCard__delete{
  font-size: 16px;
  font-size: 16px;
    display: flex;
    justify-content: flex-end;
}
.btnDelete{
  font-size: 18px;
  font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}
.todo__heading{
  height: 150px;
    overflow: auto;
    margin: 0px;
    font-size: 26px;
}
.todo__heading::-webkit-scrollbar{
  width: 5px;
}
.todo__heading::-webkit-scrollbar-track{
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}
.todo__heading::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgb(82, 82, 82);
}
.todoCard__text{
  font-size: 20px;
  display: flex;
  justify-content: center;
}